body{

    margin:0;

    background:#f4f4f4;

    font-family:Arial;

    display:flex;

    flex-direction:column;

    align-items:center;

}

#ui{

    width:1000px;

    display:flex;

    justify-content:space-between;

    margin:20px;

    font-size:28px;

}

canvas{

    background:white;

    border:4px solid black;

}
